<% include partials/header %>

<div class="container"> 
    <h2 class = "headd" >Registered Volunteers</h2>
    <hr>
    <h2>Number of Volunteers : <%= cnt %> </h2>
    <hr>
       
    

        <% users.forEach(function(user)  { %> 
    
          <div class="jumbotron">
          <p> <strong>Username :</strong>   </p>
          <p> <%= user.name %>  </p>

          <p> <strong>E-mail :</strong>   </p>
          <p> <%= user.email %>  </p>

          <p> <strong> Number of spams reported : </strong> </p>
          <p> <%= user.spamCount %> <p>

          <p> <strong> Member since </strong> </p>
          <p> <%= user.date %> <p>
          
            </div>
          <% }); %> 

    


</div>




<% include partials/footer %>