<% include partials/header %>
 

  <div class="container">
    <h2 class= "headd" >Spam Database</h2> 
    <hr> 
    <h2>Total number of reported spams : <%= cnt %> </h2>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <% spams.forEach(function(spam)  { %> 
          <div class="jumbotron">
            <p> <strong>Spam message :</strong>   </p>
              <p> <%= spam.message %>  </p>
              <p> <strong>Reason to be considered fake :</strong>  </p>
              <p> <%= spam.reason  %> </p> 
              <p class = "right"><strong> Reported by :</strong> <i> <%= spam.author %></i> </p> 
               <p class = "right">  <strong> Date : </strong>    <%= spam.date.getDate()  %>  |    <%= spam.date.getMonth() + 1 %>  |  <%= spam.date.getFullYear()  %> </p>
               <p class = "right"> <strong>Number of reports : </strong>  <%= spam.certainity %> </p>
          </div>
          <% }); %> 
      </div>
    </div>
  </div>
  
   





<% include partials/footer %>